<div class = 'container'>
  <%= render '/shared/icons' %>
 <div class = 'ten columns'>
   <div class = "landing-content">
     <p>
       Hey there!  My name is Tom and I'm currently a software engineer working in San Francisco.
       I say currently because not too long ago, I was a hardware engineer working in New York (things change fast in tech).
       When I'm not at work, I'm most likely working on getting my own business off the ground, writing for my blog, or doing something else that
       makes me seem more social than those last few things.
     </p>
     <p>
       Feel free to friend/follow/connect/stalk me on any of those sites to the left.
       Or you could just email me at <%= mail_to "tomdepplito@gmail.com", "tomdepplito@gmail.com" %>.
       Also, check out my blog <%= link_to "here", blog_index_path %>.
     </p>
   </div>
 </div>
</div>
