  <div class = 'container'>
    <% @blogs.each do |blog| %>
      <% @blog_count += 1 %>
      <div class = 'ten columns'>
        <div class = 'top-container'>
          <div class = 'container'>
            <div span = 'center'>
              <div class = 'title'>
                <div class = 'ten columns'>
                  <h1><%= link_to blog.title, blog_path(blog) %></h1>
                  <div class = 'date'>
                    <%= date(blog.created_at) %>
                  </div>
                </div>
              </div>
            </span>
          </div>
        </div>
        <div class = 'container'>
          <div class = 'right-tab'>
            <div class = 'blog-body'>
              <div class = 'ten columns'>
                <%= blog.body.html_safe %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% unless @blog_count == @blogs.length %>
        <hr>
      <% end %>
    <% end %>
    <div class = 'container'>
      <div class = 'ten columns'>
        <div class = 'center'>
          <%= will_paginate @blogs %>
        </div>
      </div>
    </div>
  </div>
