/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require base
 *= require layout
 *= require skeleton
 *= require_tree .
 */
.tweet {
  float: right;
}

.top-container {
  margin-top: 5px;
}

.nav-container {
  overflow: hidden;
  white-space: nowrap;
}

#nav1 {
  text-decoration: none;
}

#nav2 {
  text-decoration: none;
}

#nav3 {
  text-decoration: none;
}

.date {
  font-size: 10px;
}
