/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *
 *= require font-awesome
 *
 *= require_self
 *= require_tree .
 */
.tweet {
  float: right;
}

.top-container {
  margin-top: 10px;
  padding-right: 15px;
}

.nav-container {
  overflow: hidden;
  white-space: nowrap;
}

.date {
  font-size: 10px;
  text-align: center;
}

.center {
  text-align: center;
  margin-bottom: 5px;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.blog-body {
  margin-right: 5px;
}

.hideable {
  margin-top: 5px;
  position: fixed;
  z-index: 1;
}

.left-tab {
  margin-left: 10px;
}

.home {
  margin-bottom: 10px;
}

.profile {
  font-size: 18px;
  color: #000000;
  font-family: "Helvetica", sans-serif;
  font-weight: 500;
}

.right-tab {
  margin-right: 15px;
}

.page-container {
  margin-bottom: 10px;
  margin-top: 10px;
  box-shadow: 0px 0px 3pt 2pt;
  background: #fff;
}

.master {
  background: #F0F8FF
}

#layout {
  padding-right: 15px;
}

.bio {
  font-size: 10px;
  font-weight: lighter;
  font-family: "Helvetica", sans-serif;
  margin-bottom: 10px;
}

.landing-content {
  padding-top: 50px;
}

.more-posts {
  font-size: 16px;
  text-decoration: underline;
}

.side-bar {
  text-align: center;
}

.icon-spacer {
  margin: 0 3px 0 3px;
}

.body-wrapper {
  padding-left: 230px;
  overflow: hidden;
}
